@import '../Helpers/Variable';
@import '../Component/Button';

.caurse {
    background-image: url('../img/accent_bottom_wave_01.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
    padding-top: 80px;

    .container {
        display: flex;
        @media screen and (max-width:768px) {
            display: block;
        }
    
        .conatct_inner {
            img{
                width: 100%;
                animation:fadeInLeft;
                animation-direction: 0.5s;
            }
            

        }

        .form_caurse {
            // height: 500px;
            padding: 10px 30px 0 30px;
            border-radius: 10px;
            background-color: $color-white;
            box-shadow: -9px 12px 19px -9px rgba(0, 0, 0, 0.55);
            -webkit-box-shadow: -9px 12px 19px -9px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: -9px 12px 19px -9px rgba(0, 0, 0, 0.55);
            animation: zoomIn;
            animation-direction: 0.5s;


            h2 {
                @include text($text-3xl, $text-bold, $color-black-1);
                text-align: center;
            }

            .box {
                display: flex;
                @media screen and (max-width:768px) {
                    display: block;
                }

                .container-input {
                    position: relative;
                    padding: 10px 5px;

                    .icon {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 15px;
                        user-select: none;
                        pointer-events: none;
                        @include text($text-2xs, $text-bold, $color-primary);

                    }

                    .name_email {
                        padding: 12px 25px;
                        font-size: $text-xs;
                        font-weight: $text-regular;
                        border-radius: 20px;
                        border: 1px solid rgb(212, 210, 210);
                        @media screen and (max-width:768px) {
                            width: 100%;
                        }

                    }

                    .name_email:focus {
                        outline: none;
                        border-color: rgb(162, 160, 160);
                        transition: 0.5s ease;


                    }

                    input[type="email"]::placeholder {
                        padding: 0 5px;
                    }

                }
            }



            .form {
                position: relative;
                margin: 15px 0;

                .language {
                    @include text($text-2xs, $text-regular, $color-black-1);
                    border: 1px solid rgb(212, 210, 210);
                    padding: 0 30px;
                    width: 100%;
                    height: 40px;
                    border-radius: 30px;

                }

                .language:focus {
                    outline: none;
                    border-color: rgb(162, 160, 160);
                    transition: 0.5s ease;
                }

                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                    @include text($text-2xs, $text-bold, $color-primary);
                    user-select: none;
                    pointer-events: none;


                }

            }

            .message {
                position: relative;
                padding-top: 15px;

                textarea {
                    @include text($text-2xs, $text-regular, $color-black-1);
                    border: 1px solid rgb(212, 210, 210);
                    padding: 13px 30px;
                    border-radius: 20px;
                    width: 100%;
                    height: 100px;


                }

                textarea:focus {
                    outline: none;
                    border-color: rgb(162, 160, 160);
                    transition: 0.5s ease;

                }

                .icon {
                    position: absolute;
                    top: 30px;
                    // transform: translateY(-50%);
                    left: 10px;
                    @include text($text-2xs, $text-bold, $color-primary);
                    user-select: none;
                    pointer-events: none;

                }
            }

            .btnsubmit {
                padding-top: 40px;

                button {
                    @include text($text-1xs, $text-semibold, $color-white);
                    width: 150px;
                    height: 50px;
                    border-radius: 30px;
                    outline: none;
                    margin-top: 10px;
                    border: 1px solid $color-white;
                    background-color: $color-primary;
                    transition: 0.5s ease;

                    &:hover {
                        background-color: $color-white;
                        color: $color-primary;
                        border: 1px solid $color-primary;

                    }

                    @media screen and (max-width:768px) {
                        width: 100%;
                        margin-bottom: 60px;
                        margin-top: 0;
                    }
                }

            }

        }
    }
}