// font size
// heading sử dụng font montserrat
// $heading-1: 47px;
// $heading-2: 30px;
// $heading-3: 23px;
// $heading-4: 15px;
$text-xs: 11px;
$text-1xs: 12px;
$text-2xs: 13px;
$text-base: 14px;
$text-xl: 15px;
$text-2xl: 23px;
$text-3xl: 30px;
$text-4xl: 48px;


//body sử dụng font roboto
// $body-1: 14px;
// $body-2: 12px;
// $body-3: 11px;
// font weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold:700;

// brand color
// - color primary dùng cho heading và hove
$color-primary: #b61984;
// - white color dùng cho heading, body và icon
$color-white: #fff;
// - black color
    // dùng cho heading và icon
$color-black-1: #191919;
   // dùng cho body và nd thẻ form
$color-black-2: #181818;   

// background color
$bg-color-1: #fff;
$bg-color-2: #dcd1f3;



